body{
	background-color:#ffff80;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.header{
	 border-width:2px; 
	 border-color:green; 
	 border-style:solid;
}
.navbar{
	border-width:2px;
	border-color:black; 
	border-style:solid;
}
.content{
	border-width:2px; 
	border-color:black; 
	border-style:solid;
}


.footer {

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  border-style:solid;
  text-decoration:none;
}
.email{
	text-decoration:none;
}

.logo{
	padding:5px;
	width:60px;
	position:relative;
	float:left;
}
